<!DOCTYPE html>
<html>


<head>
  <title>Storage</title>
</head>

<body>
  <form method="POST" id="storage-form">
    <h2>Local onde vai colocar a caixa</h2>
    <input type="text" name="altura_bin" placeholder="altura do local " />
    <input type="text" name="largura_bin" placeholder="largura do local " />
    <input type="text" name="profundidade_bin" placeholder="profundidade do local " />


    <h2>Caixas</h2>
    <label for="num_caixas">Número de Caixas:</label>
    <input type="number" id="num_caixas" name="num_caixas" min="1" required />
    <button type="button" id="add-caixa">Adicionar Caixa</button>

    <div id="caixas-container">
      <!-- Os campos de caixa serão adicionados aqui -->
    </div>

    <input type="submit" value="Submit" />
  </form>

  <script>
    document.getElementById('add-caixa').addEventListener('click', function () {
      var numCaixas = parseInt(document.getElementById('num_caixas').value);
      var container = document.getElementById('caixas-container');
      container.innerHTML = ''; // Limpa os campos existentes

      for (var i = 1; i <= numCaixas; i++) {
        var caixaNumber = i;
        var caixaDiv = document.createElement('div');
        caixaDiv.innerHTML = '<h2>Caixa ' + caixaNumber + '</h2>' +
          '<input type="text" name="altura_cx' + caixaNumber + '" placeholder="altura da caixa" />' +
          '<input type="text" name="largura_cx' + caixaNumber + '" placeholder="largura da caixa" />' +
          '<input type="text" name="profundidade_cx' + caixaNumber + '" placeholder="profundidade da caixa" />' +
          '<input type="text" name="peso_cx' + caixaNumber + '" placeholder="peso da caixa" />';
        container.appendChild(caixaDiv);
      }
    });
  </script>


    {% if solution != None %}
    <p>Solution is : <b>{{ solution }}</b></p>
    <iframe src="{{ url_for('static', filename=plot_file) }}" width="800" height="600"></iframe>
    {% endif %}
  </form>
</body>

</html>
